/*Global styles*/

h1,
h2,
h3 {
  text-align: center;
}

main img {
  max-width: 408px;
  width: 100%;
}

.long img {
  max-width: 1334px;
}

/*Mobile and tablet styles*/

@media only screen and (max-width: 834px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text {
    max-width: 408px;
    margin: 1rem 0;
  }
}

/*Desktop styles*/

@media only screen and (min-width: 835px) {
  .yellow {
    grid-area: yellowarea;
  }
  .orange {
    grid-area: orangearea;
  }
  .green {
    grid-area: greenarea;
  }
  .image1 {
    grid-area: image1;
  }
  .image2 {
    grid-area: image2;
  }
  .image3 {
    grid-area: image3;
  }
  .explore {
    display: grid;
    grid-template-areas:
      "yellowarea orangearea greenarea"
      "image1 image2 image3";
    justify-content: center;
  }
}
