/*Global styles*/

main img {
  max-width: 408px;
  width: 100%;
}

.long img {
  max-width: 1334px;
}

/*Mobile and tablet styles*/

@media only screen and (max-width: 834px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text1,
  .text2,
  .text3 {
    max-width: 408px;
    margin: 1rem 0;
  }
}

/*Desktop styles*/

@media only screen and (min-width: 835px) {
  .explore {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .long {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .news1 {
    grid-area: news1;
  }
  .text1 {
    grid-area: text1;
    max-width: 537px;
  }
  .news2 {
    grid-area: news2;
  }
  .text2 {
    grid-area: text2;
    max-width: 537px;
  }
  .news3 {
    grid-area: news3;
  }
  .text3 {
    grid-area: text3;
    max-width: 537px;
  }
  .news {
    display: grid;
    grid-template-areas:
      "news1 text1"
      "news2 text2"
      "news3 text3";
    grid-gap: 1rem;
    justify-content: center;
  }
  .box1,
  .box2,
  .box3 {
    margin: 2%;
  }
  .box1 img:hover,
  .long img:hover,
  .news img:hover {
    border: solid 5px #fbd200;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .box2 img:hover {
    border: solid 5px #ed8e00;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .box3 img:hover {
    border: solid 5px #2a7009;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
}
