/*Global styles*/

@font-face {
  font-family: "Dubai Light";
  src: url("dubai-light.ttf") format("truetype");
}

@font-face {
  font-family: "Cooper Black Regular";
  src: url("cooper-black-regular.ttf") format("truetype");
}

body {
  font-family: "Dubai Light", Arial, Helvetica, sans-serif;
  margin: 0px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-family: "Cooper Black Regular", Impact, "Arial Narrow Bold", sans-serif;
  padding-top: 25px;
  margin: 0;
  text-align: center;
}

h3 {
  text-align: center;
}

a {
  border: 2px #2a7009;
  color: #2a7009;
  font-weight: bold;
}

h2 a {
  text-decoration: none;
  color: black;
  font-weight: normal;
}

header img {
  width: 100%;
}

.logo {
  margin: 0 auto;
  padding: 10px;
  max-width: 1206px;
}

.menu {
  border: 5px solid #fbd200;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 40px 0;
}

li a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: normal;
}

i {
  color: #ed8e00;
  padding: 5px;
  margin: 5px;
}

footer {
  border: 5px solid #fbd200;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 1rem;
}

footer p {
  padding: 5px 20px;
}

footer a {
  color: #ed8e00;
  padding-right: 20px;
}

.current {
  text-decoration: underline;
}

.yellow {
  background-color: #fbd200;
  max-width: 408px;
  min-height: 60px;
}

.orange {
  background-color: #ed8e00;
  max-width: 408px;
  min-height: 60px;
}

.green {
  background-color: #2a7009;
  max-width: 408px;
  min-height: 60px;
}

.button {
  color: white;
  background-color: #7d00a8;
  border-radius: 20px;
  max-width: 220px;
  text-align: center;
  -webkit-box-shadow: 5px 5px 15px -3px #000000;
  box-shadow: 5px 5px 15px -3px #000000;
  margin: 2rem auto;
  font-weight: bold;
}

form {
  margin: 0 auto;
  border: solid 5px #7d00a8;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div {
  gap: 1rem;
  margin: 1rem;
}

.form__input {
  display: block;
  border: solid 5px #7d00a8;
  border-radius: 20px;
  max-width: 424px;
  width: 100%;
  flex: 1;
}

form label {
  flex: 1;
}

fieldset {
  border: none;
}

input[type="submit"] {
  border: none;
  color: white;
  background-color: #7d00a8;
  border-radius: 20px;
  max-width: 220px;
  width: 100%;
  min-height: 45px;
  height: 100%;
  -webkit-box-shadow: 5px 5px 15px -3px #000000;
  box-shadow: 5px 5px 15px -3px #000000;
  margin: 2rem auto;
  font-weight: bold;
}

/*Mobile and tablet styles*/
@media only screen and (max-width: 834px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  li {
    font-size: 1.2rem;
    display: block;
    padding: 5px;
  }
  i {
    font-size: 1.5rem;
  }
  nav,
  #hamburger-menu {
    display: none;
  }
  #hamburger-menu:checked ~ nav {
    display: block;
  }
  .navigation {
    justify-content: left;
    width: 100%;
  }
  form {
    max-width: 464px;
  }
}

/*Desktop styles*/
@media only screen and (min-width: 835px) {
  body {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2rem;
  }
  li {
    font-size: 1.4rem;
    display: inline-block;
    margin: 0 1.5rem;
    padding: 10px;
  }
  li:hover {
    background-color: #ed8e00;
  }
  i {
    font-size: 1.8rem;
  }
  i:hover {
    color: #2a7009;
  }
  a {
    border: 2px #2a7009;
    color: #2a7009;
  }
  .hamburger-label,
  #hamburger-menu {
    display: none;
  }
  .menu {
    align-items: baseline;
  }
  .button:hover,
  input[type="submit"]:hover {
    background-color: #2a7009;
  }
  form {
    max-width: 664px;
  }
  form div {
    display: flex;
    flex-direction: row;
  }
}
